<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account</title>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<body>
  <p>This is the account page</p>
  <form id="accCreate" method="POST" action="/register">
    Username <input type="text" name="new_username" id="username"><br><br>
    Password <input type="password" name="new_password" id="password"><br><br>
    Confirm Password <input type="password" name="passwordConf" id="passwordConf"><br><br>
    <button type="submit" onclick="newAcct()">Create Account</button><br>

    <script>
      var username = document.getElementById("username").value;
      var password = document.getElementById("password").value;
      var passwordConf = document.getElementById("passwordConf").value;

      // stuff in index.js

      document.getElementById("accCreate").reset(); // Reset the form

    </script>

  </form>
</body>

</html>