<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account</title>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<body>
  <p>This is the account page</p>
  <form>
    Username <input type="text" name="username" id="username"><br><br>
    Password <input type="password" name="password" id="password"><br><br>
    Confirm Password <input type="passwordConf" name="passwordConf" id="passwordConf"><br><br>
    <button type="button" onclick="newAcct()">Create Account</button><br>

</form>
</body>

</html>