<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<body>
  <form id="logout-form" action="/logout" method="post" style="display: none;">
    <!-- You can add hidden inputs here if needed -->
  </form>
  <nav>
    <ul>
      <li><a href="/accounts">Create Account</a></li>
      <li><a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a></li>
      <li><a href="/report">Report</a></li>
      <li><a href="/survey">Survey</a></li>
      <li><a href="/accountview">Edit Accounts</a></li>
    </ul>
  </nav>

  <header>
    <h1>Admin</h1>
  </header>

  <main>


  </main>
</body>

</html>