<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>

  </style>
</head>

<body>
  <form action="/editAccountReal/<%=myAccount[0].username %>" method="POST">
    <fieldset style="width: 0px;">
      <legend>Edit your Account:</legend>
      <label>Username:</label>
      <p>
        <%=myAccount[0].username %>
      </p>
      <br><br>
      <label for="password">Password:</label>
      <input type="text" id="password" name="password">
      <br><br>


    </fieldset>
    <button type="submit">Save</button>
  </form>
  <div><a href="/accountview">Cancel</a></div>
</body>

</html>