<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Account</title>
  <link rel="icon" type="image/png" sizes="120x120" href="../images/fav/icons8-payoneer-color-120.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../images/fav/icons8-payoneer-color-96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../images/fav/icons8-payoneer-color-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/fav/icons8-payoneer-color-16.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../images/fav/icons8-payoneer-color-120.png">
  <link rel="msapplication-square150x150logo" content="../images/fav/icons8-payoneer-color-120.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Montserrat&family=Raleway&display=swap"
    rel="stylesheet">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Raleway", sans-serif;
    }

    body {
      background-image: url("../images/blob.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }

    div {
      padding: 10px;
      background-color: rgb(58, 165, 129);
      color: white
    }

    .homeicon {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      /* left: 20px; */
      top: 10px;
      padding: 10px;
    }
  </style>
</head>

<body>
  <div class="homeicon"><a href="/"><img src="../images/home.svg" alt="Home" height="40px"></a></div>

  <form action="/editAccountReal/<%=myAccount[0].username %>" method="POST">
    <fieldset style="width: 0px;">
      <legend>Edit your Account:</legend>
      <label>Username:</label>
      <p>
        <%=myAccount[0].username %>
      </p>
      <br><br>
      <label for="password">Password:</label>
      <input type="text" id="password" name="password">
      <br><br>


    </fieldset>
    <button type="submit">Save</button>
  </form>
  <div><a href="/accountview">Cancel</a></div>
</body>

</html>