<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">

</head>

<body>
  <p>This is a webpage</p>
  <form method="get" action="/account">
    <button type="submit">Create Account</button>
  </form>
  <iframe title="Class Project" width="600" height="373.5"
    src="https://app.powerbi.com/view?r=eyJrIjoiYmRhZjFiZDMtZDdlNS00NGM3LWIzYzUtMDdhZTM5NmFjZjUzIiwidCI6ImNlZDQ1MmVhLTExNDktNDMyOS05YjE5LWVhNjc4MzI5ZGU3OSIsImMiOjZ9&embedImagePlaceholder=true"
    frameborder="0" allowFullScreen="true"></iframe>
</body>

</html>