<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">

</head>

<body>
  <p>This is a webpage</p>
  <form method="get" action="/account">
    <button type="submit">Create Account</button>
  </form>
</body>

</html>