<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="styles/login.css">

</head>

<body>
    <form id="loginForm" method="post" action="/login">
        <label for="username">Username</label>
        <input type="text" name="username" id="username"><br><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"><br><br>
        <button type="submit">Log in</button><br>

        <script>
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;

            // stuff in index.js

            document.getElementById("loginForm").reset(); // Reset the form
        </script>
    </form>
</body>

</html>