<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Form</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Montserrat&family=Raleway&display=swap"
        rel="stylesheet">
    <style>
        main {
            margin-left: 40px;
            height: 100%;
        }

        .button-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            /* Ensure it spans the full width of its parent */

            /* This will position the buttons at opposite ends */
        }

        .question button {
            padding: 10px 20px;
            background-color: rgb(35, 200, 167);
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 20px;
            transition: background-color 0.3s ease-in-out;
            font-size: large;
            /* Remove margin if you want buttons to align exactly at the ends */
        }

        body,
        html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            font-family: Raleway, sans-serif;
            /* You can change the font family */
            background-image: url("../images/blob.jpg");
            /* The path to your image file */
            background-size: cover;
            /* Cover the entire space */
            background-position: center;
            /* Center the image */
            background-repeat: no-repeat;
            /* Do not repeat the image */

        }

        .question p {
            color: red
        }

        #surveyForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .question {
            width: 100%;
            /* Adjust the width as needed */
            max-width: 600px;
            /* Maximum width */
            padding: 20px;
            box-sizing: border-box;
            display: none;
            /* Hide all questions initially */
            flex-direction: column;
            align-items: start;
            justify-content: center;
        }

        .question label {
            display: block;
            margin-bottom: 25px;
            font-size: 2em;

        }

        /* General styles for the slider */
        input[type="range"] {
            -webkit-appearance: none;
            /* Override default CSS styles */
            appearance: none;
            width: 100%;
            /* Full-width */
            height: 25px;
            /* Specified height */
            background: #dddddd00;
            /* Grey background */
            outline: none;
            /* Remove outline */
            /* Set the opacity (optional) */
            -webkit-transition: .2s;
            /* 0.2 seconds transition on hover */
            transition: opacity .2s;
        }

        /* Mouse-over effects */
        input[type="range"]:hover {
            opacity: 1;
            /* Fully opaque on hover */
        }

        /* Styles for the slider thumb (the draggable circle) */
        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            /* Override default look */
            appearance: none;
            width: 25px;
            /* Set a specific slider handle width */
            height: 25px;
            /* Slider handle height */
            background: #2b7c70;
            /* Green background */
            cursor: pointer;
            /* Cursor on hover */
            margin-top: -8.5px;
            /* Adjust this value to center the thumb */
        }

        input[type="range"]::-moz-range-thumb {
            width: 25px;
            /* Width of the thumb */
            height: 25px;
            /* Height of the thumb */
            background: #2c7b76;
            /* Green background */
            cursor: pointer;
            /* Cursor on hover */
            margin-top: -8.5px;
            /* Adjust this value to center the thumb */
        }

        /* Styles for the slider track (the line the thumb slides on) */
        input[type="range"]::-webkit-slider-runnable-track {
            width: 100%;
            height: 8.4px;
            cursor: pointer;
            background: #808182;
            /* Blue background */
            border-radius: 5px;
        }

        input[type="range"]::-moz-range-track {
            width: 100%;
            height: 15px;
            cursor: pointer;
            background: #3071a9;
            /* Blue background */
            border-radius: 1.3px;
        }


        .question input[type="number"],
        .question select {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: large;
        }

        .checkbox-container {
            display: flex;
            justify-content: center;
        }

        .checkbox-group {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 20px;
            /* Adjust the gap between checkboxes as needed */
            text-align: left;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .checkbox-group label {
            display: block;
            margin-bottom: 15px;
        }

        .checkbox-group label input {
            margin-right: 5px;
            transform: scale(2);
        }



        .question button:hover {
            background-color: #535353;
        }

        /* The slider labels */
        .slider-labels {
            display: flex;
            justify-content: space-between;
            font-size: 1.2em;
            width: 100%;
        }

        #sidebar {
            position: fixed;
            left: 0;
            top: 0;
            width: 40px;
            /* Adjust as needed */
            height: 100%;
            background-color: #f0f0f0;
            /* Sidebar background color */
            padding: 30px 10px;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            overflow-y: auto;
            /* Add scroll if content overflows */
        }

        #progressList {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            /* 2 columns */
            grid-gap: 10px;
            /* Gap between grid items */
            list-style-type: none;
            padding: 0;
        }

        #progressList li {
            padding: 5px;
            background-color: #fff;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            text-align: center;
            /* Center the text */
        }

        #progressList li:hover {
            background-color: rgb(102, 102, 102);
        }

        #progressList li.completed {
            background-color: #d3d3d3;
            /* Color for completed questions */
            color: #fff;
            cursor: default;
        }

        #progressList li.current {
            background-color: rgb(35, 200, 167);
            /* Highlight color for current question */
            color: white;
        }
    </style>
</head>

<body>

    <div id="sidebar">
        <ul id="progressList">
            <!-- List items for each question -->
            <li id="progress1">1</li>
            <li id="progress2">2</li>
            <li id="progress3">3</li>
            <li id="progress4">4</li>
            <li id="progress5">5</li>
            <li id="progress6">6</li>
            <li id="progress7">7</li>
            <li id="progress8">8</li>
            <li id="progress9">9</li>
            <li id="progress10">10</li>
            <li id="progress11">11</li>
            <li id="progress12">12</li>
            <li id="progress13">13</li>
            <li id="progress14">14</li>
            <li id="progress15">15</li>
            <li id="progress16">16</li>
            <li id="progress17">17</li>
            <li id="progress18">18</li>
            <li id="progress19">19</li>
            <li id="progress20">20</li>

        </ul>
    </div>

    <main>
        <div id="surveyForm">
            <!-- Question 1 -->
            <div class="question" id="question1" style="display: flex;">
                <label for="Age">What is your age?</label>
                <input type="number" id="Age" name="Age" min="1" max="100" placeholder="Age">
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(1)">Previous</button>
                    <button type="button" onclick="nextQuestion(1)">Save and Next</button>
                </div>
                <p id="error1"></p>
            </div>

            <!-- Question 2 -->
            <div class="question" id="question2" style="display: none;">
                <label for="Gender">What is your gender?</label>
                <select id="Gender" name="Gender">
                    <option value="" disabled selected style="font-weight: bold;">Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(2)">Previous</button>
                    <button type="button" onclick="nextQuestion(2)">Save and Next</button>
                </div>
                <p id="error2"></p>
            </div>

            <!-- Question 3 -->
            <div class="question" id="question3" style="display: none;">
                <label for="RelationshipStatus">What is your relationship status?</label>
                <select id="RelationshipStatus" name="RelationshipStatus">
                    <option value="" disabled selected style="font-weight: bold;">Relationship Status</option>
                    <option value="Dating">In a relationship</option>
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Divorced">Divorced</option>
                </select>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(3)">Previous</button>
                    <button type="button" onclick="nextQuestion(3)">Save and Next</button>
                </div>
                <p id="error3"></p>
            </div>
            <!-- Question 4 -->
            <div class="question" id="question4" style="display: none;">
                <label for="OccuStatus">What is your occupation status?</label>
                <select id="OccuStatus" name="OccuStatus">
                    <option value="" disabled selected style="font-weight: bold;">Occupation Status</option>
                    <option value="University Student">University Student</option>
                    <option value="School Student">School Student</option>
                    <option value="Salary Worker">Salaried Worker</option>
                    <option value="Retired">Retired</option>
                    <option value="N/A">N/A</option>
                </select>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(4)">Previous</button>
                    <button type="button" onclick="nextQuestion(4)">Save and Next</button>
                </div>
                <p id="error4"></p>
            </div>
            <!-- Question 5 -->
            <div class="question" id="question5" style="display: none;">
                <label for="OrgAffiliation">What type of organization are you affiliated with?</label>
                <select id="OrgAffiliation" name="OrgAffiliation">
                    <option value="" disabled selected style="font-weight: bold;">Organization Affiliation</option>
                    <option value="1">University</option>
                    <option value="2">School</option>
                    <option value="3">Company</option>
                    <option value="4">Government</option>
                    <option value="5">Private</option>
                </select>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(5)">Previous</button>
                    <button type="button" onclick="nextQuestion(5)">Save and Next</button>
                </div>
                <p id="error5"></p>
            </div>
            <!-- Question 6 -->
            <div class="question" id="question6" style="display: none;">
                <label for="SMUse">Do you use Social Media?</label>
                <select id="SMUse" name="SMUse">
                    <option value="" disabled selected style="font-weight: bold;">Social Media Use</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(6)">Previous</button>
                    <button type="button" onclick="nextQuestion(6)">Save and Next</button>
                </div>
                <p id="error6"></p>
            </div>
            <!-- Question 7 -->
            <div class="question" id="question7" style="display: none;">
                <label>What Social Media platforms do you commonly use?</label>
                <div class="checkbox-container">
                    <div class="checkbox-group">
                        <label>
                            <input type="checkbox" name="platforms" id="Facebook" value="1"> Facebook
                        </label>
                        <label>
                            <input type="checkbox" name="platforms" id="Instagram" value="3"> Instagram
                        </label>
                        <label>
                            <input type="checkbox" name="platforms" id="Twitter" value="2"> Twitter
                        </label>
                        <label>
                            <input type="checkbox" name="platforms" id="YouTube" value="4"> YouTube
                        </label>
                        <label>
                            <input type="checkbox" name="platforms" id="TikTok" value="8"> TikTok
                        </label>
                        <label>
                            <input type="checkbox" name="platforms" id="Discord" value="5"> Discord
                        </label>
                        <label>
                            <input type="checkbox" name="platforms" id="Reddit" value="6"> Reddit
                        </label>
                        <label>
                            <input type="checkbox" name="platforms" id="Snapchat" value="9"> Snapchat
                        </label>
                        <label>
                            <input type="checkbox" name="platforms" id="Pinterest" value="7"> Pinterest
                        </label>
                    </div>
                </div>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(7)">Previous</button>
                    <button type="button" onclick="nextQuestion(7)">Save and Next</button>
                </div>
                <p id="error7"></p>
            </div>
            <!-- Question 8 -->
            <div class="question" id="question8" style="display: none;">
                <label for="AvgTime">What is the average time you spend on Social Media every day?</label>
                <select id="AvgTime" name="AvgTime">
                    <option value="" disabled selected style="font-weight: bold;">Daily Time</option>
                    <option value="1">0-1 hours</option>
                    <option value="2">1-2 hours</option>
                    <option value="3">2-3 hours</option>
                    <option value="4">3-4 hours</option>
                    <option value="5">4-5 hours</option>
                    <option value="6">5+ hours</option>
                </select>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(8)">Previous</button>
                    <button type="button" onclick="nextQuestion(8)">Save and Next</button>
                </div>
                <p id="error8"></p>
            </div>
            <!-- Question 9 -->
            <div class="question" id="question9" style="display: none;">
                <label for="UseWOPurpose">How often do you find yourself using Social Media without a specific
                    purpose?</label>
                <input type="range" min="1" max="5" step="1" value="3" id="UseWOPurpose" name="UseWOPurpose">
                <div class="slider-labels">
                    <span>Never</span>
                    <span>Rarely</span>
                    <span>Occasionally</span>
                    <span>Often</span>
                    <span>Always</span>
                </div>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(9)">Previous</button>
                    <button type="button" onclick="nextQuestion(9)">Save and Next</button>
                </div>
                <p id="error9"></p>
            </div>
            <!-- Question 10 -->
            <div class="question" id="question10" style="display: none;">
                <label for="SMDistraction">How often do you get distracted by Social Media when you are busy doing
                    something?</label>
                <input type="range" min="1" max="5" step="1" value="3" id="SMDistraction" name="SMDistraction">
                <div class="slider-labels">
                    <span>Never</span>
                    <span>Rarely</span>
                    <span>Occasionally</span>
                    <span>Often</span>
                    <span>Always</span>
                </div>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(10)">Previous</button>
                    <button type="button" onclick="nextQuestion(10)">Save and Next</button>
                </div>
                <p id="error10"></p>
            </div>
            <!-- Question 11 -->
            <div class="question" id="question11" style="display: none;">
                <label for="Restless">Do you feel restless if you haven't used Social media in a while?</label>
                <input type="range" min="1" max="5" step="1" value="3" id="Restless" name="Restless">
                <div class="slider-labels">
                    <span>Never</span>
                    <span>Rarely</span>
                    <span>Occasionally</span>
                    <span>Often</span>
                    <span>Always</span>
                </div>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(11)">Previous</button>
                    <button type="button" onclick="nextQuestion(11)">Save and Next</button>
                </div>
                <p id="error11"></p>
            </div>
            <!-- Question 12 -->
            <div class="question" id="question12" style="display: none;">
                <label for="GenDisctracted">How often are you distracted?</label>
                <input type="range" min="1" max="5" step="1" value="3" id="GenDisctracted" name="GenDisctracted">
                <div class="slider-labels">
                    <span>Never</span>
                    <span>Rarely</span>
                    <span>Occasionally</span>
                    <span>Often</span>
                    <span>Always</span>
                </div>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(12)">Previous</button>
                    <button type="button" onclick="nextQuestion(12)">Save and Next</button>
                </div>
                <p id="error12"></p>
            </div>
            <!-- Question 13 -->
            <div class="question" id="question13" style="display: none;">
                <label for="BotheredWorries">How often are you bothered by worries?</label>
                <input type="range" min="1" max="5" step="1" value="3" id="BotheredWorries" name="BotheredWorries">
                <div class="slider-labels">
                    <span>Never</span>
                    <span>Rarely</span>
                    <span>Occasionally</span>
                    <span>Often</span>
                    <span>Always</span>
                </div>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(13)">Previous</button>
                    <button type="button" onclick="nextQuestion(13)">Save and Next</button>
                </div>
                <p id="error13"></p>
            </div>
            <!-- Question 14 -->
            <div class="question" id="question14" style="display: none;">
                <label for="Concentration">Do you find it difficult to concentrate on things?</label>
                <input type="range" min="1" max="5" step="1" value="3" id="Concentration" name="Concentration">
                <div class="slider-labels">
                    <span>Never</span>
                    <span>Rarely</span>
                    <span>Occasionally</span>
                    <span>Often</span>
                    <span>Always</span>
                </div>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(14)">Previous</button>
                    <button type="button" onclick="nextQuestion(14)">Save and Next</button>
                </div>
                <p id="error14"></p>
            </div>
            <!-- Question 15 -->
            <div class="question" id="question15" style="display: none;">
                <label for="Comparison">How often do you compare yourself to other successful people
                    through the use of social media?</label>
                <input type="range" min="1" max="5" step="1" value="3" id="Comparison" name="Comparison">
                <div class="slider-labels">
                    <span>Never</span>
                    <span>Rarely</span>
                    <span>Occasionally</span>
                    <span>Often</span>
                    <span>Always</span>
                </div>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(15)">Previous</button>
                    <button type="button" onclick="nextQuestion(15)">Save and Next</button>
                </div>
                <p id="error15"></p>
            </div>
            <!-- Question 16 -->
            <div class="question" id="question16" style="display: none;">
                <label for="CompFeelings">Following the previous question, how do often do you feel negative feelings
                    because of these comparisons?</label>
                <input type="range" min="1" max="5" step="1" value="3" id="CompFeelings" name="CompFeelings">
                <div class="slider-labels">
                    <span>Never</span>
                    <span>Rarely</span>
                    <span>Occasionally</span>
                    <span>Often</span>
                    <span>Always</span>
                </div>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(16)">Previous</button>
                    <button type="button" onclick="nextQuestion(16)">Save and Next</button>
                </div>
                <p id="error16"></p>
            </div>
            <!-- Question 17 -->
            <div class="question" id="question17" style="display: none;">
                <label for="Validation">How often do you look to seek validation from features of social media?</label>
                <input type="range" min="1" max="5" step="1" value="3" id="Validation" name="Validation">
                <div class="slider-labels">
                    <span>Never</span>
                    <span>Rarely</span>
                    <span>Occasionally</span>
                    <span>Often</span>
                    <span>Always</span>
                </div>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(17)">Previous</button>
                    <button type="button" onclick="nextQuestion(17)">Save and Next</button>
                </div>
                <p id="error17"></p>
            </div>
            <!-- Question 18 -->
            <div class="question" id="question18" style="display: none;">
                <label for="Depressed">How often do you feel depressed or down?</label>
                <input type="range" min="1" max="5" step="1" value="3" id="Depressed" name="Depressed">
                <div class="slider-labels">
                    <span>Never</span>
                    <span>Rarely</span>
                    <span>Occasionally</span>
                    <span>Often</span>
                    <span>Always</span>
                </div>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(18)">Previous</button>
                    <button type="button" onclick="nextQuestion(18)">Save and Next</button>
                </div>
                <p id="error18"></p>
            </div>
            <!-- Question 19 -->
            <div class="question" id="question19" style="display: none;">
                <label for="DailyInterestFluctuation">How frequently does your interest in daily
                    activities fluctuate?</label>
                <input type="range" min="1" max="5" step="1" value="3" id="DailyInterestFluctuation"
                    name="DailyInterestFluctuation">
                <div class="slider-labels">
                    <span>Never</span>
                    <span>Rarely</span>
                    <span>Occasionally</span>
                    <span>Often</span>
                    <span>Always</span>
                </div>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(19)">Previous</button>
                    <button type="button" onclick="nextQuestion(19)">Save and Next</button>
                </div>
                <p id="error19"></p>
            </div>
            <!-- Question 20 -->
            <div class="question" id="question20" style="display: none;">
                <label for="SleepIssues"> How often do you face issues regarding sleep?</label>
                <input type="range" min="1" max="5" step="1" value="3" id="SleepIssues" name="SleepIssues">
                <div class="slider-labels">
                    <span>Never</span>
                    <span>Rarely</span>
                    <span>Occasionally</span>
                    <span>Often</span>
                    <span>Always</span>
                </div>
                <div class="button-container">
                    <button type="button" onclick="previousQuestion(20)">Previous</button>
                    <button type="button" onclick="submitSurvey()">Save and Submit</button>
                </div>
                <p id="error20"></p>
            </div>
        </div>
    </main>


</body>
<script>

    var submittedQuestions = {};

    document.addEventListener('DOMContentLoaded', function () {
        // Initialize session storage for each question with default values
        for (let i = 1; i <= 20; i++) {
            if (!sessionStorage.getItem('question' + i)) {
                sessionStorage.setItem('question' + i, 'default_value'); // Replace 'default_value' as needed
            }
        }

        // Set up event listeners for progress items
        var progressItems = document.querySelectorAll("#progressList li");
        progressItems.forEach(function (item, index) {
            item.addEventListener('click', function () {
                goToQuestion(index + 1);
            });
        });

        // Initialize the first question
        goToQuestion(1);
    });


    function goToQuestion(questionNumber) {
        var questions = document.querySelectorAll('.question');
        questions.forEach(function (question, index) {
            question.style.display = (index + 1 === questionNumber) ? 'flex' : 'none';
        });
        updateProgressVisuals(questionNumber);

    }
    function updateProgressVisuals(currentQuestion) {
        var progressItems = document.querySelectorAll("#progressList li");
        progressItems.forEach(function (item, index) {
            // Check if the question is marked as submitted
            if (submittedQuestions[index + 1]) {
                item.classList.add("completed");
            } else {
                item.classList.remove("completed");
            }

            // Highlight the current question
            if (index + 1 === currentQuestion) {
                item.classList.add("current");
            } else {
                item.classList.remove("current");
            }
        });
    }


    function updateProgress(questionNumber, completed) {
        var progressItem = document.getElementById("progress" + questionNumber);
        if (progressItem) {
            if (completed) {
                progressItem.classList.add("completed");
            } else {
                progressItem.classList.remove("completed");
            }
        }
    }

    function nextQuestion(currentQuestion) {
        // Save current question's answer to sessionStorage

        var answer = document.getElementById("question" + currentQuestion).querySelector('input, select').value;
        if (answer) {
            submittedQuestions[currentQuestion] = true; // Mark as submitted
            document.getElementById('error' + currentQuestion).innerHTML = ""
            sessionStorage.setItem("question" + currentQuestion, answer);
            updateProgressVisuals(currentQuestion + 1)
            // Hide current question and show next one
            document.getElementById("question" + currentQuestion).style.display = "none";
            var nextQuestionDiv = document.getElementById("question" + (currentQuestion + 1));
            if (nextQuestionDiv) {
                nextQuestionDiv.style.display = "block";
            } else {
                // No more questions, show submit button
                document.getElementById("submitSurvey").style.display = "block";
            }
        }
        else {
            document.getElementById('error' + currentQuestion).innerHTML = "Please enter value"
        }

    }

    function previousQuestion(currentQuestion) {
        submittedQuestions[currentQuestion] = false; // Unmark if needed

        document.getElementById("question" + currentQuestion).style.display = "none";
        var previousQuestion = document.getElementById("question" + (currentQuestion - 1));
        if (previousQuestion) {
            previousQuestion.style.display = "flex";
        }
    }



    function submitSurvey() {
        var answer = document.getElementById("question20").querySelector('input, select').value;
        if (answer) {
            submittedQuestions[20] = true; // Mark as submitted
            document.getElementById('error20').innerHTML = ""
            sessionStorage.setItem("question20", answer);
            updateProgressVisuals(21)
        }

        if (Object.keys(submittedQuestions).length == 20) {
            let allTrue = Object.values(submittedQuestions).every(value => value === true);

            if (allTrue) {

                // Collect all answers from sessionStorage and send to server...
                var formData = {};
                for (var i = 1; i <= 20; i++) {
                    formData["question" + i] = sessionStorage.getItem("question" + i);
                }

                // Use Fetch API or similar to send data to server
                fetch('/submit-survey', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(formData),
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                        // Handle success - maybe redirect to a thank you page
                        window.location.href = '/success';
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                        // Handle error
                        window.location.href = '/error';

                    });

                // Clear sessionStorage
                sessionStorage.clear();
            }
        }
        else {
            document.getElementById('error20').innerHTML = 'Not all questions have been answered. Please complete the survey.'
        }

    }

</script>



</html>