/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #f4f4f4;
}

nav {
  /* background-color: #007bff; */
  padding: 10px 0;
  text-align: center;
}

.splash-container {
  position: relative;
  background: #eff6ee; /* Base color, similar to the light green background */
  overflow: hidden;
}

.splash-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("images/gradient2.jpg"); /* Path to your SVG or gradient */
  opacity: 0.6; /* Adjust the opacity for the splash effect */
}
/* Profile Menu */
.profile-menu {
  /* position: fixed; */
  top: 10px;
  width: 100%;
  right: 10px;
  cursor: pointer;
  z-index: 1001; /* Above overlay and sidebar */
}

.menu-icon {
  position: absolute; /* Or you can remove this line since static is the default */
  top: 10px;
  right: 20px;
  cursor: pointer;
  z-index: 10; /* Ensure it's above other content but not fixed */
}

.bar {
  display: block;
  width: 35px; /* Width of the hamburger icon */
  height: 5px; /* Height of one bar */
  background-color: #333; /* Color of the bars */
  margin: 6px 0; /* Spacing between the bars */
  transition: 0.3s;
}
/* Sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1005;
  top: 0;
  right: 0;
  background-color: #1111119b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(118, 184, 134);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

/* Overlay */
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1003; /* Below sidebar */
}

header {
  /* background-color: #fff; */
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

main {
  width: 80%;
  margin: 0 auto;
}

main section {
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

iframe {
  width: 100%;
  /* max-width: 1000px; */
  /* height: 600.5px; */
  max-height: 804;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.purpose p,
.ideas ul,
.recommendations ul,
.country-list ul {
  text-align: left;
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #f4f4f4;
}
