/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
}

nav {
  background-color: #007bff;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

main {
  width: 80%;
  margin: 0 auto;
}

main section {
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

iframe {
  width: 100%;
  max-width: 600px;
  height: 373.5px;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.purpose p,
.ideas ul,
.recommendations ul,
.country-list ul {
  text-align: left;
}
